* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
body {
    background-image: url("images/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
p {
    font-size: 1.6rem;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
section {
    padding: 5rem 0;
}
header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
    width: 100%;
    overflow: hidden;
    padding: 3rem 10rem;

}
.container-fluid {
    width: 100%;
    padding: 0;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.nav-brand {
    width: 14rem;
}
.menu-icons i {
    font-size: 2.5rem;
    cursor: pointer;
}
.nav-list {
    width: 25rem;
    height: 50vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}
.nav-list.active {
    right: 0;
}

.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}
.nav-item {
    margin: 1rem 0;
}
.nav-link {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
    color: hsl(228, 39%, 23%);
}
#wer {
    padding: 1.2rem 3.5rem;
    border-radius: 30px;
    margin-top: 4rem;
    background-color: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 10px hsl(12, 88%, 59%);

}
/* section 2 */

.content {
    margin-top: 7rem;
}
.flex-fluid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content-txt {
    width: 40%;
}
.content-txt h1{
    font-size: 4.5rem;
    line-height: 6rem;
    color: hsl(228, 39%, 23%);
}
.content-txt p {
    font-size: 1.7rem;
    line-height: 2.5rem;
    padding-top: 1rem;
    letter-spacing: .1rem;
}
#red {
    padding: 1.2rem 3.5rem;
    border-radius: 30px;
    margin-top: 4rem;
    background-color: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 10px hsl(12, 88%, 59%);
}
.content-img {
    width: 40%;
}

/* section c */

.section-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left { 
    width: 40%;
}
.left h2{
    font-size: 3rem;
    line-height: 3.5rem;
    color: hsl(228, 39%, 23%);
}
.left p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;

}
.right {
    width: 50%;
}
.me {
    display: flex;
    padding: 1rem;
    align-items: center;
}
.text h4 {
    margin-left: .9rem;
    font-size: 1.7rem;
}
#btn {
    padding: .8rem 2rem;
    border-radius: 20px;
    background-color: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);
    outline: none;
    border: none;
    font-size: 14px;
}
.right p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 0 4rem 0 0;
    margin: 0 0 1.5rem 7rem;
}

/* section d */
.card-grid {
    width: 100%;
}

.card-grid h2 {
    font-size: 3rem;
    color: hsl(228, 39%, 23%);
    margin: 10rem 0;

}
.view img {
    width: 12%;
    margin-top: -12px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 20px;
}
.view {
    background-color: hsl(0, 0%, 98%);
    text-align: center;
}
.view h4 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 1.5rem 0 1rem 0;
}
.view p{
    font-size: 1.4rem;
    text-align: center;
    line-height: 2rem;
}
.card-grid {
    text-align: center;
}
.card-grid button {
    padding: 1.2rem 3.5rem;
    border-radius: 30px;
    margin-top: 4rem;
    background-color: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 10px hsl(12, 88%, 59%);
    text-align: center;
}
.least {
    background-color:  hsl(12, 88%, 59%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.orange-txt h1 {
    font-size: 3rem;
    color: hsl(0, 0%, 98%);
    width: 70%;
}
#jop {
    padding: 1.2rem 3.5rem;
    border-radius: 30px;
    background-color:hsl(0, 0%, 98%);
    color:  hsl(12, 88%, 59%);
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 100%; 
}
.footer {
    background-color: hsl(233, 12%, 13%);
    width: 100%;
    padding:  4rem;
}
.footer img{
    width: 30%;
    margin-bottom: 4rem;
}

.svg-icon img {
    width: 2rem;
    margin-left: 1rem;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));

}
.flex {
    display: flex;
    justify-content: space-around;
} 
.list-items li {
    padding: .7rem;
}
#order {
    padding: 1.5rem 3.5rem;
    border-radius: 30px;
    background-color:hsl(0, 0%, 98%);
    color:   hsl(227, 12%, 61%);
    outline: none;
    border: none;
    font-size: 14px;

}
#go {
    padding: 1.5rem 2.5rem;
    border-radius: 25px;
    background-color: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.footer-btn {
    margin-left: 4rem;
}
.footer-btn p {
    margin: 5rem 0 0 6rem;
    font-size: 1.3rem;
    color: hsl(227, 12%, 61%);
}


@media screen and  (min-width:280px) {
    body {
        background-image: url("images/bg-simplify-section-mobile.svg");
    }
    .container{
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3rem 1.5rem;
    }
    #wer {
        display: none;
    }
    section {
        padding: 0;
    }
    .content {
        margin-top: 2rem;
    }
    .flex-fluid {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .content-txt {
        width: 100%;
    }
    .content-img {
        width: 100%;
    }
    .content-txt h1{
        font-size: 4rem;
        line-height: 6rem;
        text-align: center;
    }
    .content-txt p {
        letter-spacing: 0;
        padding: 2rem 2rem;
        text-align: initial;
        font-size: 1.8rem;
    }
    .flex-fluid{
        text-align: center;
    }
    #red {
        margin-bottom: 4rem;
    }
    .section-c {
        flex-direction: column;
    }
    .left { 
        width: 100%;
        text-align: center;
    }
    .left h2{ 
        margin-top: 4rem;
        padding: 2rem;
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .left p {
        padding: 0 2rem 0 2rem;
        font-size: 1.7rem;
        margin-bottom: 3rem;
    }
    .right {
        width: 100%;
    }
    .me {
        background-color: hsl(13, 100%, 96%);
    }
    .right p {
        padding: 2rem 1.5rem;
        font-size: 1.5rem;
        margin: 0;
    }
    .card-grid h2 {
        margin: 5rem 0 6rem 0;
        font-size: 3rem;
    }
    .grid-cards1, 
    .grid-cards3, .grid-cards4{
        display: none;
    }
    .view p {
        padding: 2rem;
        line-height: 2.5rem;
        font-size: 1.4rem;
    }
    .view img {
        width: 15%;
        margin-top: -25px;
    }
    .card-grid button {
        margin: 4rem 0 6rem 0;
    }
    .least {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }
    .orange-txt h1 {
        width: 100%;
        text-align: center;
        font-size: 4rem;
        padding-bottom: 4rem;

    }
    #jop {
        margin-bottom: 4rem;
    }
    .grid2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .footer-btn {
        width: 100%;
        display: inline-block;
        margin-left: 0;
    }
    .footer-btn  p {
        display: none;
    }
    .list-items li {
        padding: .7rem;
        font-size: 1.5rem;
    }
    .list-items a {
        color: hsl(227, 12%, 61%);
    }
    .list-items {
        margin-top: 2.5rem;
    }
    .footer-svg {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer-svg img {
        width: 60%;
        align-self: center;
        padding-top: 1.5rem;
    }
    .footer-svg h5 {
        font-size: 1.5rem;
        color:  hsl(227, 12%, 61%);
        text-align: center;
    }
    .svg-icon img {
        width: 11%;
        margin: 1rem;
        text-align: center;
        padding: 2rem 0;
    }
    
    
@media screen and (min-width:768px){
    body {
        background-image: url("images/bg-simplify-section-desktop.svg");
    }
    .nav-brand {
        width: 17rem;
    }    
    .nav-list{
        width: initial;
        height: initial;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        
    }
    .nav-link:hover {
        color: hsl(227, 12%, 61%);
    }
    .menu-icons {
        display: none;
    }
    .nav-item{
        margin: 0 2rem;
        background: none;
    }
    #wer {
        display: initial;
        margin-bottom: 4rem;
    }
    .container{
        width: 100%;
        padding: 0 7rem;
    
    }
    .flex-fluid {
        display: flex;
        flex-direction: row;
    }
    .content-txt {
        width: 40%;
    }
    .content-txt h1{
        font-size: 4.5rem;
        line-height: 6rem;
        color: hsl(228, 39%, 23%);
    }
    .content-txt p {
        font-size: 1.7rem;
        line-height: 2.5rem;
        padding-top: 1rem;
        letter-spacing: .1rem;
        padding-left: 7rem;
    }
    .content-img {
        width: 40%;
    }
    .section-c {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        width: 100%;
    }
    .left { 
        width: 40%;
    }
    .left h2{
        font-size: 3.5rem;
        line-height: 4rem;
        margin-top: 0;
        padding: 0;
        text-align: start;
    }
    .left p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 1.5rem 6rem 0 0;
    }
    .right {
        width: 50%;
    }
    .me {
        padding: 1rem;
        align-items: center;
        background: none;
    }
    .text h4 {
        margin-left: .9rem;
        font-size: 1.7rem;
    }
    #btn {
        padding: .8rem 2rem;
        border-radius: 20px;
        background-color: hsl(12, 88%, 59%);
        color: hsl(0, 0%, 98%);
        outline: none;
        border: none;
        font-size: 14px;
    }
    .right p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 0 4rem 0 0;
        margin: 0 0 1.5rem 7rem;
    }
    .card-grid {
        width: 100%;
        text-align: center;
    }
    
    .card-grid h2 {
        font-size: 3rem;
        color: hsl(228, 39%, 23%);
        margin: 10rem 0;
    
    }
    .view img {
        width: 12%;
        margin-top: -12px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    }
    .view {
        text-align: initial;
    }
    .view h4 {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        margin: 1.5rem 0 .8rem 0;
    }
    .view p{
        font-size: 1.4rem;
        text-align: center;
        line-height: 2rem;
        padding: 0;
    }
    .card-grid button {
        margin: 4rem 0 0 0;
        text-align: center;
    }
    .grid-cards1,
    .grid-cards3, .grid-cards4{
        display: initial;
    }
    .view p {
        padding: 2rem;
        line-height: 2.5rem;
        font-size: 1.4rem;
    }
    .card-grid button {
        margin: 4rem 0 10rem 0;
    }
    .least {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 7rem;
    }
    .orange-txt h1 {
        font-size: 4rem;
        color: hsl(0, 0%, 98%);
        width: 70%;
        padding-bottom: 0;
        text-align: initial;
    }
    .footer-svg {
        display: flex;
        flex-direction: column;
    }
    .footer .for{
        width: 40%;
        margin-bottom: 4rem;
        margin-right: rem;
    }
    
    .svg-icon img {
        width: 2.5rem;
        margin: 0  4rem0 0 ;
        padding: 0;
    }
    .svg-icon {
        margin-left: 12rem;
    }
    .footer-svg h5 {
        display: none;
    }
    
    .grid2 {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    
    }
    .flex {
        display: flex;
        justify-content: space-around;
    } 
    .list-items li {
        padding: .7rem;
        font-size: 1.3rem;
    }
    .footer-btn  p {
        display: inherit;
    }
    .footer-btn {
        margin-left: 4rem;
    }
    .list-items a {
        color: hsl(227, 12%, 61%);
    }
    .list-items a:hover {
        color: hsl(12, 88%, 59%);
    }
    .list-items {
        margin-top: 0;
    }
    #order:hover {
        background-color:hsl(0, 0%, 98%);
        color:  hsl(12, 88%, 59%);
        border: 1px solid hsl(12, 88%, 59%);
    }

    @media screen and (max-width:800px) {
        #wer {
            width: 30%;
        }
        #jop {
            width: 15rem;
        }
        .svg-icon{
            margin: 0;
            padding: 0;
        }
        #order {
            padding: 1.5rem 2rem;
            border-radius: 30px;
            background-color:hsl(0, 0%, 98%);
            color:   hsl(227, 12%, 61%);
            outline: none;
            border: none;
            font-size: 14px;
        
        }
        #go {
            padding: 1.5rem 2rem;
            border-radius: 25px;
            background-color: hsl(12, 88%, 59%);
            color: hsl(0, 0%, 98%);
            outline: none;
            border: none;
            font-size: 14px;
            cursor: pointer;
        }
        
    }
    
    
    
    
    

    

    
    
    
    
    

    

    

}


